<a href="https://colab.research.google.com/github/coconut4292/aipython/blob/main/2025_10_17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
# def 함수이름():
#   실행할 코드

def print_notification_prefix():
  print("△ 알림 도착: ", end="")
print_notification_prefix()
print("친구에게 메시지가 왔어요.")

△ 알림 도착: 친구에게 메시지가 왔어요.

In [9]:
def coffee_order(menu): # 'menu'라는 문자열을 입력으로 받습니다.
  if menu == "아메리카노":
    #처리 결과에 따라 다른 출력을 return 합니다.
    return "진한 에스프레소에 시원한 물 한 잔 추가했어요!"
  elif menu == "라떼":
    return "부드러운 우유 거품과 함께 나갑니다."
  elif menu == "바닐라라떼":
    return "달콤한 바닐라 향으로 기분 좋은 하루 시작하세요!"
  else:
    return "죄송해요, 해당 메뉴는 준비되지 않았어요."
drink = input("무슨 커피를 주문하시겠어요? ")
response = coffee_order(drink) # 사용자의 입력을 함수에 전달하고, 반환값을 받습니다.
print(response)

무슨 커피를 주문하시겠어요? 라떼
부드러운 우유 거품과 함께 나갑니다.

In [10]:
def introduce(name, age):
  print(f"안녕하세요, 제 이름은 {name}이고, 나이는 {age}살이에요.")
# 함수 호출 시 두 개의 값을 순서에 맞게 전달합니다.
introduce("홍길동", 15)

안녕하세요, 제 이름은 홍길동이고, 나이는 15살이에요.

In [11]:
def greet(name="친구"):
  print(f"{name}님, 반가워요!")
greet() # 입력값이 없으면 기본값 '친구'가 사용됨 -> "친구님, 반가워요!"
greet("홍길동") # 입력값이 있으면 전달된 값 '홍길동'이 사용됨 -> "홍길동님, 반가워요!"

친구님, 반가워요!
홍길동님, 반가워요!

In [12]:
def calculate_total_and_average(scores):
  total = sum(scores)
  average = total / len(scores)
  return total, average # 총점과 평균을 함께 반환
my_scores = [85, 90, 78, 92]
t, avg = calculate_total_and_average(my_scores) # 반환된 두 값을 각각 t와 avg 변수에 저장
print("총점:", t)
print("평균:", avg)

총점: 345
평균: 86.25

In [18]:
def BMI_score(H, W):
  BMI = W / (H/100) **2
  return round(BMI, 2)
tall = float(input("키를 입력해주세요(cm):"))
weight = float(input("몸무게를 입력해주세요(kg):"))

print(BMI_score(tall, weight))

키를 입력해주세요(cm):164
몸무게를 입력해주세요(kg):46.78
17.39

In [19]:
a, b = map(int, input().split())
print(a + b)

1 6
7

In [21]:
# 리스트의 각 요소를 정수로 변환
str_numbers = ['1', '2', '3', '4', '5']
int_numbers = list(map(int, str_numbers))
print(int_numbers)

# 리스트의 각 요소에 10을 곱하기
numbers = [1, 2, 3, 4, 5]
multiplied_numbers = list(map(lambda x: x * 10, numbers))
print(multiplied_numbers)

# 두 리스트의 같은 위치에 있는 요소 더하기
list1 = [1, 2, 3]
list2 = [4, 5, 6]
added_lists = list(map(lambda x, y: x + y, list1, list2))
print(added_lists)

[1, 2, 3, 4, 5]
[10, 20, 30, 40, 50]
[5, 7, 9]

In [20]:
# 기본 사용: 공백을 기준으로 문자열 분리
text = "안녕하세요 반갑습니다"
words = text.split()
print(words)

# 특정 구분자 사용: 쉼표(,)를 기준으로 문자열 분리
data = "사과,바나나,딸기"
fruits = data.split(",")
print(fruits)

# 특정 구분자와 최대 분할 횟수 지정
sentence = "a-b-c-d"
parts = sentence.split("-", 2) # 처음 2개까지만 분리
print(parts)

['안녕하세요', '반갑습니다']
['사과', '바나나', '딸기']
['a', 'b', 'c-d']

In [22]:
# 리스트의 문자열 요소들을 공백으로 연결
words = ['Python', 'is', 'fun!']
sentence = ' '.join(words)
print(sentence)

# 리스트의 문자열 요소들을 쉼표와 공백으로 연결
fruits = ['apple', 'banana', 'cherry']
fruits_string = ', '.join(fruits)
print(fruits_string)

# 숫자로 이루어진 리스트를 문자열로 변환하여 연결 (map 사용)
numbers = [1, 2, 3, 4, 5]
numbers_string = ''.join(map(str, numbers))
print(numbers_string)

Python is fun!
apple, banana, cherry
12345

In [24]:
email = "user@example.com"
username, domain = email.split('@')
print(f"사용자명 : {username}, 도메인 : {domain}")

사용자명 : user, 도메인 : example.com

In [25]:
csv_data = "김철수,30,서울,개발자"
data_list = csv_data.split(",")
print(f"분리된 데이터 : {data_list}")

분리된 데이터 : ['김철수', '30', '서울', '개발자']

In [31]:
folders = ["home","user","documents","project"]
path = '/'.join(folders)
print(f"경로:{path}")

경로:home/user/documents/project

In [30]:
words = ["Python", "is", "awesome"]
sentence = " ".join(words)
print(f"문장: {sentence}")
print("\n" + "=" * 60)
print("2. List Comprehension - 한 줄로 리스트 만들기")
print("=" * 60)

문장: Python is awesome

============================================================
2. List Comprehension - 한 줄로 리스트 만들기
============================================================

In [34]:
multiples_of_3 = [x for x in range(1, 21) if x % 3 == 0]
print(f"3의 배수 : {multiples_of_3}")

3의 배수 : [3, 6, 9, 12, 15, 18]

In [35]:
fruits = ['apple', 'banana', 'cherry']

# enumerate를 사용하여 인덱스와 값을 함께 출력
for index, fruit in enumerate(fruits):
  print(f"인덱스: {index}, 과일: {fruit}")

# 시작 인덱스 변경
for index, fruit in enumerate(fruits, start=1):
  print(f"번호: {index}, 과일: {fruit}")

인덱스: 0, 과일: apple
인덱스: 1, 과일: banana
인덱스: 2, 과일: cherry
번호: 1, 과일: apple
번호: 2, 과일: banana
번호: 3, 과일: cherry

In [36]:
#zip이 names의 첫 번째 항목과 ages의 첫 번째 항목을, 두 번째 항목끼리, 세 번째 항목끼리 짝지어 주었습니다.
names = ['John', 'Jane', 'Doe']
ages = [25, 30, 35]
for name, age in zip(names, ages):
 print(f"{name} is {age} years old.")

John is 25 years old.
Jane is 30 years old.
Doe is 35 years old.

In [40]:
scores = [95, 87, 92, 88]

print("성적 순위:")
for rank, score in enumerate(scores, 1):
  print(f"{rank}등:{score}점")

성적 순위:
1등:95점
2등:87점
3등:92점
4등:88점

In [42]:
students = ["철수","영희","민수"]
scores = [85,92,78]
grades = ["B","A","C"]

print("\n학생 성적표")
for name, score, grade in zip(students, scores, grades):
  print(f"{name}:{score}점 ({grade}학점)")

학생 성적표
철수:85점 (B학점)
영희:92점 (A학점)
민수:78점 (C학점)

In [44]:
numbers = [1, 2, 3, 4]
# lambda x: x*2 라는 익명 함수를 numbers의 모든 항목에 적용
doubled = list(map(lambda x: x*2, numbers))
print(doubled)
#map은 lambda x: x*2라는 '임시 함수'를 numbers 리스트의 모든 항목(1, 2, 3, 4)에 하나씩 적용

[2, 4, 6, 8]

In [46]:
celsius = [0,10,20,30,40]
fahrenheit = list(map(lambda x: (x * 9/5) + 32, celsius))
print(f"섭씨: {celsius}")
print(f"화씨: {fahrenheit}")

섭씨: [0, 10, 20, 30, 40]
화씨: [32.0, 50.0, 68.0, 86.0, 104.0]

In [49]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# x를 2로 나눈 나머지가 0이 아닌 (홀수인) 경우만 True
odd_nums = list(filter(lambda x: x % 2 != 0, nums))
print(odd_nums)

#map이 모든 항목을 변환하는 데 중점을 둔다면, filter는 조건에 맞는 항목만 선택

[1, 3, 5, 7, 9]

In [50]:
numbers = [-5,3,-1,8,0,-3,7]
positive = list(filter(lambda x: x > 0 , numbers))
print(f"전체 숫자: {numbers}")
print(f"양수만: {positive}")

전체 숫자: [-5, 3, -1, 8, 0, -3, 7]
양수만: [3, 8, 7]