<a href="https://colab.research.google.com/github/coconut4292/aipython/blob/main/2025_09_26.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
print(f"10 % 3 = {10 % 3}")
print(f"15 % 4 = {15 % 4}")
print(f"7 % 2 = {7 % 2}")

10 % 3 = 1
15 % 4 = 3
7 % 2 = 1

In [13]:
a = 10
b = 5

print(f"a == b: {a == b}") # 같은지 비교
print(f"a != b: {a != b}") # 다른지 비교
print(f"a > b: {a > b}")   # a가 b보다 큰지 비교
print(f"a < b: {a < b}")   # a가 b보다 작은지 비교
print(f"a >= b: {a >= b}") # a가 b보다 크거나 같은지 비교
print(f"a <= b: {a <= b}") # a가 b보다 작거나 같은지 비교

a == b: False
a != b: True
a > b: True
a < b: False
a >= b: True
a <= b: False

In [17]:
num = int(input("숫자를 입력하세요: "))
if num % 2 == 0 :
  print("짝수입니다")
else :
  print("홀수입니다")

숫자를 입력하세요: 7
홀수입니다

In [21]:
height1 = int(input("첫 번째 학생의 키를 입력하세요: "))
height2 = int(input("두 번째 학생의 키를 입력하세요: "))
if height1 > height2 :
  diff = height1 - height2
else:
  diff = height2 - height1

print("두 학생의 키 차이는", diff, "입니다.")

첫 번째 학생의 키를 입력하세요: 159
두 번째 학생의 키를 입력하세요: 173
두 학생의 키 차이는 14 입니다.

In [28]:
x = 10
y = 5
is_valid = True

# and 연산자: 두 조건 모두 참일 때만 참
print(f"(x > 5) and (y < 10): {(x > 5) and (y < 10)}") # True and True -> True
print(f"(x < 5) and (y < 10): {(x < 5) and (y < 10)}") # False and True -> False

# or 연산자: 두 조건 중 하나라도 참이면 참
print(f"(x < 5) or (y < 10): {(x < 5) or (y < 10)}")   # False or True -> True
print(f"(x < 5) or (y > 10): {(x < 5) or (y > 10)}")   # False or False -> False

# not 연산자: 조건의 결과를 반대로 만듦
print(f"not is_valid: {not is_valid}")               # not True -> False
print(f"not (x > 5): {not (x > 5)}")                 # not True -> False

(x > 5) and (y < 10): True
(x < 5) and (y < 10): False
(x < 5) or (y < 10): True
(x < 5) or (y > 10): False
not is_valid: False
not (x > 5): False

In [29]:
age = int(input("나이를 입력하세요: "))
fee = 5000
if age < 8 or age >= 65 :
  fee = 0
elif age >= 8 and age < 14 :
  fee = fee * 0.5
elif age >= 14 and age < 19 :
  fee = fee * 0.75
else :
  fee = fee
print("입장료는 ", int(fee), "원입니다")

나이를 입력하세요: 18
입장료는  3750 원입니다

In [45]:
#점수(0점~ 100점)를 입력받아서 ABCD로 학점을 출력하시오
#조건 A는 90점 이상, B는 70점 이상, C는 60점 이상, 그 이하는 D
num = int(input("점수를 입력하세요: "))
if num < 0 or num > 100:
  print("잘못된 점수입니다. 다시 입력해주세요.")
elif num >=90 :
  print("A학점입니다.")
elif num >=70 :
  print("B학점입니다.")
elif num >=60 :
  print("C학점입니다.")
else :
  print("D학점입니다.")

점수를 입력하세요: 60
C학점입니다.

In [46]:
#if문 안에 if문을 넣어 중첩으로 사용 가능

In [47]:
# range() 함수를 사용한 for 루프 예시
print("range(5) 사용:")
for i in range(5):
    print(i)

print("\nrange(2, 8) 사용:")
for j in range(2, 8): # 2부터 7까지 (8은 포함 안됨)
    print(j)

print("\nrange(1, 10, 2) 사용:")
for k in range(1, 10, 2): # 1부터 9까지, 2씩 증가
    print(k)

range(5) 사용:
0
1
2
3
4

range(2, 8) 사용:
2
3
4
5
6
7

range(1, 10, 2) 사용:
1
3
5
7
9

In [48]:
# 리스트를 순회하는 for 루프 예시
fruits = ["apple", "banana", "cherry"]
print("과일 리스트 순회:")
for fruit in fruits:
    print(fruit)

# 문자열 순회 예시
word = "Python"
print("\n문자열 순회:")
for char in word:
    print(char)

과일 리스트 순회:
apple
banana
cherry

문자열 순회:
P
y
t
h
o
n

In [52]:
sum = 0    #합을 저장하는 변수. 0으로 초기화해둔 것임
for a in range(1, 6):#range(1. 6)으로 시작값과 끝값을 지정하면 끝값은 포함되지 않으므로 1부터 5까지만 나옴.
  sum = sum + a
print("1부터 5까지의 합은", sum, "입니다.")

1부터 5까지의 합은 15 입니다.

In [59]:
#짝수와 홀수의 합을 나누어 구하기(따로)
sum = 0
for a in range(1, 100, 2) :
  sum = sum + a
print("1부터 100까지의 홀수의 합은", sum, "입니다.")
sum = 0
for b in range(2, 101, 2) :
  sum = sum + b
print("1부터 100까지의 짝수의 합은", sum, "입니다.")

1부터 100까지의 홀수의 합은 2500 입니다.
1부터 100까지의 짝수의 합은 2550 입니다.

In [60]:
#짝수와 홀수의 합을 나누어 구하기(함께)
sum1 = 0 #짝수 합    / 변수의 이름을 1,2를 뒤에붙여 구분하는 것보단 특정 이름을 붙여서 하는 것이 나음
sum2 = 0 #홀수 합
for a in range(1, 101) :
  if a % 2 == 0 :
    sum1 = sum1 + a
  else :
    sum2 = sum2 + a
print("1부터 100까지의 짝수의 합은", sum1, "입니다.")
print("1부터 100까지의 홀수의 합은", sum2, "입니다.")

1부터 100까지의 짝수의 합은 2550 입니다.
1부터 100까지의 홀수의 합은 2500 입니다.

In [53]:
sum = 0               #초기값을 지정 후 5만원을 모을 때까지 저금. 단, 하루가 지날 때마다 저금액100원 증가
money = 100          #저금총액, 저금액, 날짜 지정. 주의점 : while 문은 무한루프에 빠지지 않도록 주의
day = 1             #sum이나 day도 함께 증가시켜 무한루프 빠지지 않도록 주의하기
while sum < 50000 :
  sum = sum + money
  money = money + 100
  day = day + 1
print("총", day, "일이 걸립니다.")

총 33 일이 걸립니다.

In [74]:
sum = 0
num = int(input("숫자를 입력하세요."))
while num != 0 :
  sum = sum + num
  num = int(input("숫자를 입력하세요."))
print("총 합은", sum, "입니다.")

숫자를 입력하세요.13
숫자를 입력하세요.46
숫자를 입력하세요.69
숫자를 입력하세요.66
숫자를 입력하세요.1
숫자를 입력하세요.0
총 합은 195 입니다.